<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProQuery</title>
    
</head>
<body>
    <div>
        <div>
            <h1>Welcome to Proquery !</h1>
            <p>a platform where ideas come to life. Share your thoughts, explore new perspectives, and connect through meaningful posts.</p>

        </div>
    </div>
</body>
</html>