<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ProQuery</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gradient-to-r from-cyan-500 to-blue-500">
    <div class="flex flex-col items-center my-60">
      <div class="flex gap-2">
        <h1 class="text-4xl font-serif cursor typing-container typing-text">
          Welcome to
        </h1>
        <h1 class="text-4xl text-white font-serif">Proquery !</h1>
      </div>
      <div class="w-1/2 text-center my-2">
        <p class="font-semibold">
          a platform where ideas come to life. Share your thoughts, explore new
          perspectives, and connect through meaningful posts.
        </p>
      </div>
      <div class="flex justify-center my-2">
        <a
          href="/login"
          class="text-l bg-blue-600 p-1 w-32 text-center text-white rounded-lg mx-2"
          >Login</a
        ><a
          href="/signin"
          class="text-l bg-gray-600 text-white p-1 w-32 text-center rounded-lg mx-3"
          >Sign In</a
        >
      </div>
    </div>
  </body>
</html>
