<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-full bg=zinc=900 p-10"></div>
    <h1 class="text-3xl tracking-tighter mb-3">All Posts</h1>

    <div class="Posts">
        <div class="Posts max-w-72 p-2 bg-zinc-800 rounded-lg">

            <div class="w-ful h-72 bg-blue-500"></div>
        </div>
    </div>
    
    
</body>
</html>